*{
    margin: 0;
    padding: 0;
}
/* body */
body{
    width: 100%;
    height: 100%;
    background-color: #F3F5FC;
    position: relative;
    font-family: 'Inter', sans-serif;

}
/* header */
header{
    height: 10vh;
    min-height: 75px;
    width: 100%;
 }

.logo__header{
    padding: 10px 5%;
    width: 90%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
 }
.logo__fjb{
    width: 70px;
}

main{
    height: 80vh;
    /* background-color: aquamarine; */
}


.boton{
    display: flex;
    flex-direction: row;
    align-items: center;;
    justify-content: center;
    gap: 8px;
    width: 317px;
    height: 80px;
    border-radius: 24px;
    font-size: 30px;
    margin: 5px;
}
    .boton:hover{
        background: #367dd4;
        color: white;
        transform: scale(1.0.5);
    }

.azul{
    background: #0A3871;
    color: #FFFFFF;
}
.gris{
    background-color: transparent;
    color: #0A3871;
}
.p_footer{
    margin:5px;
}
.icon__social_footer {
    margin:10px;
}
.icon__social_footer img{
    width: 35px;
}


/* modificadores flex */
.flex-row-center{
    display: flex;
    flex-flow: row ;
    justify-content: center;
    align-items: center;
}

.flex-col-center{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

.flex-col-start{
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
}

.flex-col-space{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
}

/* #seccion_inicio{
    display: none;
} */
#seccion_nueva_palabra{
    display: none;
}
#seccion_juego{

    display: none;
}
.juego_canvas{
    width: 350px;
    height: 325px;
    margin-bottom: 5%;
    position: relative;
    background-color: #0a714d;
    
}
.juego_canvas canvas{
    width: 100%;
    height: 100%;
    background-color: pink;
}
.texto{
    height: 50%;
    margin: 2% auto 0;
    display: inline-block;
    font-size: 32px;
    color: #183073;
    border: none;
    background-color: #F3F5FC ;
    resize: none;
    transition: 1s;
    text-transform: uppercase;
}
textarea:focus{
    outline: none !important;  
    /* !important es para que tome en tus hijos el mismo prop */
}
::placeholder{
    color: darkblue;
    opacity: 0.5;
}

.p_maxletras{
    width: 600px;
    justify-items: left;
}


footer{
    height: 10vh;
    background: radial-gradient(circle at center, rgb(253, 254, 254), rgb(37, 128, 255),  rgb(37, 128, 255));
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    
}





